body {
  font-family: 'PT Sans';
}

#welcome {
  position: relative;
  background: url("http://i.imgur.com/O05BZA2.jpg") no-repeat center;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 8vw;
  margin-top: 75px;
  color: white;
  text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black;
}

#portfolio {
  position: relative;

}

#portfolio h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#project h4 {
  text-align: center;
}

#jester {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

#barter {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

#about-me {
  position: relative;
  height: 500px;
  position: relative;
  background-color: #D3D3D3;
  /*background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("http://i.imgur.com/6pRRh4o.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#about-me h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#about-pic {
  
}

#contact {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 15px;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  text-align: center;
  list-style-type: none;
}
#contact li {
  display: inline;
  padding: 15px;
}

#contact i {
  font-size: 24px;
}

.linkedin-blue {
  color: #4875B4;
}

.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.black {
  color: #000000;
}

.fb-blue {
  color: #3b5998;
}