body {
  background-color: #2C3A4C;
  font-family: Helvetica;
  margin: auto;
  padding: 0px;
  color: white;
  width: 950px;
  position: relative;
}
header {
  width: 100%;
  height: 75px;
  margin: 10px 0px 10px 0px;
  position: relative;
  display: inline-block;
}
#logo {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: black;
  display: inline-block;
}
h1 {
  margin-left: 325px;
  display: inline-block;
  padding-bottom: 30px;
}
#navbar{
  margin: 5px 0px 5px 225px;
}
.navLink{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}
#navigation {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  position: relative;
  float: center;
  width: 100%;
  background-color:#1C2430;
}
a {
  color: gray;
  padding: 3px;
}
a:hover {
  color: black;
}
#topContent {
  width: 868px;
  height: 50%;
  background-color: #36465d;
  position:relative;
  margin: 10px;
  padding: 30px;
  border: 2px dashed gray;
  border-radius: 5%;
  overflow: hidden;

}
#recentBlog {
  position: relative;
}
h2{
  text-decoration: underline;
}
#bottomContent {
  width: 100%;
  display: inline-block;
}
#box1 {
  width: 440px;
  height: 200px;
  background-color: #36465d;
  margin: 10px 10px 10px 10px;
  border: 2px dashed gray;
  border-radius: 5%;
  float: left;
  overflow: scroll;
}
h4{
  text-align: center;
  text-decoration: underline;
}
.post {
  font-color: gray;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list {
  display: block;
  padding: 10px 0px 10px 0px;
}
#box2 {
  width: 440px;
  height: 200px;
  background-color: #36465d;
  margin: 10px 10px 10px 10px;
  border: 2px dashed gray;
  border-radius: 5%;
  float: right;
  overflow: scroll;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
